server:
  port: 8080

spring:
  application:
    name: emissions-dashboard
  datasource:
    url: jdbc:h2:mem:emissionsdb
    driverClassName: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update


